#settings
  .setting
    input#is-diacritic(type="checkbox", [(ngModel)]="flag_diacritic", (change)="setSettings('flag_diacritic')")
    label(for="is-diacritic")
      | ДИАКРИТИКИ
  .setting
    input#is-youon(type="checkbox", [(ngModel)]="flag_youon", (change)="setSettings('flag_youon')")
    label(for="is-youon")
      | ЁОНЫ

#syllables-list(*ngIf="previous_syllables")
  .syllables-list-item(*ngFor="let syllable of previous_syllables", (click)="showSyllableDetail(syllable)")
    span.kana {{syllable[kana]}}
    span.transcription  /{{syllable.transcription}}/

a#kana-toggle.ui-hover([routerLink]="['../', other_kana]", routerLinkActive="active")
  | ПЕРЕКЛЮЧИТЬ НА {{kana == 'hiragana' ? 'КАТАКАНУ' : 'ХИРАГАНУ'}}

a#progress.ui-hover((click)="toggleProgressTable()")
  | ПРОГРЕСС

#task
  #previous-syllable-info(*ngIf="previous_syllables[0]", [ngClass] = "{right: is_right_previous_answer, wrong: !is_right_previous_answer}", (click)="showSyllableDetail(previous_syllables[0])")
    span.kana
      | {{previous_syllables[0][kana]}}
    |  - {{previous_syllables[0].transcription}}
  #syllable.kana((click)="showSyllableDetail(current_syllable)")
    | {{current_syllable[kana]}}
  input#answer-field(type="text", autofocus=true, maxlength=3, [(ngModel)]="transcription_field", (keyup)="checkAnswer(transcription_field)", [ngClass]="transcription_field_style")
  #skip.ui-hover((click)="skip()")
    | ПРОПУСТИТЬ

app-table-item-detail(*ngIf="show_syllable_detail", [syllable]="syllable_to_detail", [kana]="kana", (click)="toggleSyllableDetail()")
app-progress-table(*ngIf="show_progress_table", [progress]="progress", [kana]="kana", (click)="toggleProgressTable()")
